.venv
.idea
.vscode
staticfiles
__pycache__
*//__pycache__
.pytest_cache
.coverage
.tox
.env
.eggs
.pytest_cache
.coverage
.mypy_cache
.nox
.build
.pytest_cache
.ipynb_checkpoints
.DS_Store
.git
.hg
.svn
*.pyc
*.pyo
*.egg-info
*.egg
*.so
*.o
*.c
*.h
*.swp
*.bak
*.rbc
*.gem
*.gemspec
*.sqlite3
*.sqlite3-journal
*.log
*.lock
